.header .dx-dropdownbutton-action .dx-button-content {
    color: white;
  }
.header .dx-button-mode-text .dx-icon  {
    color: white;
}
.header-toolbar .dx-toolbar{
  background-color: #337ab7;
}
.header .user .userActions .dx-toolbar{
  background-color: #337ab7;
}